.card{
  background-image: url(2.jpg);
  height:300px;
  width:525px;
  border-radius:25px;
  font-family: 'Open Sans', sans-serif;
}

.header{
  color:#ffff;
  font-weight:bold;
  margin-left:auto; 
  margin-right:30px;
  margin-top:20px;
  float:right;
}

.chips{
  margin-left:25px;
  margin-top:50px;
  width:75px;
  height:76px;
}

.number{
  font-family: 'Syncopate', sans-serif;
  font-size:25px;
  font-weight:bold;
  color:#996515;
  margin-left:27px;
  margin-top:15px;
  width:317px;
  background-color: #F0E68C;
  opacity: 0.50;
}
.secret-number{
  color:white;
  font-weight:bold;
}
.exp-date-wrapper {
  margin-top: 5px;
  margin-left: 185px; 
  line-height: 1;
}       
.left-label {
    float: left;
    display: inline-block;
    width: 40px;
    font: 400 7px/8px;
    letter-spacing: 0.5px;
    color:white;
}
.upper-labels {
  font: 400 7px/1 'Open Sans', Arial, sans-serif;
  color: white;
}
.exp-date {
    display: inline-block;
    float: left;
    margin-top: -10px;
    margin-left: 10px;
    text-align: center;
    color:white;
}
.date {
  position: relative;
  z-index: 20;
  letter-spacing: 1px;
  color:white;
}
.row-card{
  display:flex;
  align-items: baseline;
}
.last{
  color:white;
  margin-top:-5px;
}
.logos{
  display:flex;
  flex-direction: column;
  margin-top:-20px;
}
.data-card{
  display:flex;
  justify-content: space-around;
}